* {
    margin: 0%;
    font-family: Arial;
    border: border-box;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
}
.nav-logo{
    height: 55px;
    width: 110px;
}
.logo{
    background-image: url("Amazonlogo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}
.border{
    /* border: 2px solid transparent; */
    /* border-radius: 10px; */
}
.border:hover{
    /* border: 2px solid whitesmoke; */
}
.nav-add {
    color:white;
    padding: 15px;
}
.icon{
    color: whitesmoke;
    display: flex;
}
.icon-img{
    background-image: url("loc.jpg");
    width: 15px;
    height: 15px; 
}
.add1{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 10px;
}
.add2{
   font-size: 0.7rem;
}
.image{
    height:600px;
    background-image: url(product.jpg);
    display: flex;
}
#sel{
    height: 30px;
    width:auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: center;
}
.option{
    color: #cccccc;
}
.int{
    width: 450px;
    height: 24px;
    font-size: 13px;
    font-weight: 500;
}
.fa-solid{
    font-size: 17px;
}
#bu{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 32px;
    background-color: #FF9800;
    
}
.sing-in{
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
}
.sel2{
    width: 110px;
    height: 15px;
    background-color: black;
    color: #cccccc;
    border: none;
    font-size: 12px;
}
.re{
    color:#cccccc;
    padding: 12px;
}
#RE1{
    font-size: 13px;
}
#or{
    font-size: 14px;
}
.cart{
    padding: 12px;
    display: flex;
}
.h6{
    color: whitesmoke;
    padding-top: 12px;
    font-size: 15px;
   
}
.logo-cart{
    color: #cccccc;
    margin-top: 12px;
}
.box1{
    height: 300px;
  background-image: url("p2.jpg");
  margin-top: 300px;
  width: 300px;
  margin-left: 30px;
}
.box2{
    height: 300px;
  background-image: url("p3.jpg");
  margin-top: 300px;
  width: 300px;
  margin-left: 30px;
}
.box3{
    height: 300px;
  background-image: url("p4.jpg");
  margin-top: 300px;
  width: 300px;
  margin-left: 30px;
}
.box4{
    height: 300px;
  background-image: url("p5.jpg");
  margin-top: 300px;
  width: 300px;
  margin-left: 30px;
}